body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    height: 300vh;
    /* Make page scrollable */
}

.personas {
    position: fixed;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: auto;
    height: auto;
    max-height: 100vh;
    z-index: 1;
    mix-blend-mode: exclusion;
    mix-blend-mode: difference;
    opacity: 0.8;
    transition: left 0.1s ease-out;
}

.madre {
    left: 50%;
}

.sho {
    left: 50%;
}